<p class="titulo">EDITAR VEHICULO </p>
<div>
  <button mat-fab color="accent" style="float: left; margin-left: 10px;" [routerLink]="['/vehiculo']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<form [formGroup]="form" class="form-inline">
  <div class="formularioI">
    <div class="prueba">
      <mat-form-field appearance="outline" class="tamano">
        <mat-label>PLACA</mat-label>
        <input matInput placeholder="AAA-111" formControlName="placa" class="formu">
        <mat-hint *ngIf="form.get('placa').errors && form.get('placa').touched">
          <p *ngIf="form.get('placa').hasError('required')">
            Se requiere este campo
          </p>
          <p *ngIf="form.get('placa').hasError('maxlength')">
            La placa no puede tener mas de 7 caracteres
          </p>
          <p *ngIf="form.get('placa').hasError('minlength')">
            La placa no puede tener menos de 7 caracteres
          </p>
          <p *ngIf="form.get('placa').hasError('pattern')">
            *Formato de placa incorrecto
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="prueba">
      <mat-form-field appearance="outline" class="tamano">
        <mat-label>MODELO</mat-label>
        <input matInput placeholder="Ej: 2020" formControlName="modelo" class="formu">
        <mat-hint *ngIf="form.get('modelo').errors && form.get('modelo').touched">
          <p *ngIf="form.get('modelo').hasError('required')">
            Se requiere este campo
          </p>
          <p *ngIf="form.get('modelo').hasError('max')">
            El modelo no deberia ser superior al año 2022
          </p>
          <p *ngIf="form.get('modelo').hasError('min')">
            El modelo no puede ser inferior al año 1998
          </p>

        </mat-hint>
      </mat-form-field>
    </div>

    <div class="prueba">
      <mat-form-field appearance="fill">
        <mat-label>MARCA</mat-label>
        <mat-select [(ngModel)]="selectedCar" name="car" formControlName="marca">
          <mat-option *ngFor="let car of cars" [value]="car.valueC">
            {{car.viewValueC}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="form.get('marca').errors && form.get('marca').touched">
          <p *ngIf="form.get('marca').hasError('required')">
            Seleccione una marca
          </p>
          <p *ngIf="form.get('marca').hasError('min')">
            Seleccione una marca
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="prueba">
      <mat-form-field appearance="fill">
        <mat-label>TIPO VEHICULO</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="car" formControlName="tipoVehiuclo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="form.get('marca').errors && form.get('marca').touched">
          <p *ngIf="form.get('tipoVehiuclo').hasError('required')">
            Seleccione una tipo de vehiculo
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="prueba">
      <mat-form-field appearance="outline" class="tamano">
        <mat-label>CAPACIDAD</mat-label>
        <input matInput placeholder="Ej: 70kg" formControlName="capacidad" class="formu">
        <mat-hint *ngIf="form.get('capacidad').errors && form.get('placa').touched">
          <p *ngIf="form.get('capacidad').hasError('required')">
            Se requiere este campo
          </p>
          <p *ngIf="form.get('capacidad').hasError('min')">
            La capacidad no puede ser menor de 20Kg
          </p>
          <p *ngIf="form.get('capacidad').hasError('pattern')">
            *Formato incorrecto
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="centro">
      <button mat-raised-button [disabled]="form.invalid" color="primary"
        style="float: left; margin-left: 35px; margin-top: 10px;" class="boton" type="submit"
        (click)="editarv($event)">Editar
      </button>
    </div>

  </div>
</form>