<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>No Autorizado</title>
</head>

<body>
  <div class="cover">
    <h1>
      <br>
      
      <br>
      
    </h1>
    <div id="notFound">
      <button class="boton" mat-raised-button color="accent" [routerLink]="['']"> Home
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</body>

</html>