
    <div *ngIf="!mostrarBarra" class="loader-container" [color]="color">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div [hidden]="flagCiudad">
        <table mat-table [dataSource]="dataSource" matSort class="table">
            <!-- Position Column -->
            <ng-container matColumnDef="idDepartamento">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="prueba"> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.idDepartamento}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="prueba"> Departamento</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="buscar">
                <th mat-header-cell *matHeaderCellDef class="prueba"> Buscar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent"
                        [routerLink]="['ciudad/',element.idDepartamento]">Ciudades</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [hidden]="flagCiudad" class="paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
            #PDepartamento>
        </mat-paginator>

    </div>

    <div [hidden]="!flagCiudad">
        <!--Pintado de la tabla de ciudades-->
        <table mat-table [dataSource]="dataSourceC" class="table">
            <!-- Position Column -->
            <ng-container matColumnDef="idDepartC">
                <th mat-header-cell *matHeaderCellDef class="prueba"> CodigoCiudad </th>
                <td mat-cell *matCellDef="let element"> {{element.idCiudad}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombreC">
                <th mat-header-cell *matHeaderCellDef class="prueba"> Ciudad</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnas;"></tr>
        </table>
        <mat-paginator class="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" #PCiudad>
        </mat-paginator>
        <button mat-fab color="accent" style="float: right;" (click)="cambiarEstadoFlag()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

<router-outlet></router-outlet>