<div class="example-container">
  <div [hidden]="flagProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">ENVIOS UDEC</h1>

    <span class="example-spacer"></span>
    <div [hidden]="!flagSesion">
      <button [disabled]="!flagSesion" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="cerrarSession()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px" mode="side">

      <div [hidden]="flagSesion">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']">
          <mat-icon>manage accounts</mat-icon>
          <span>Ingresar</span>
        </button>
        <mat-divider></mat-divider>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion==2">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/pagos']">
            <mat-icon>paid</mat-icon>
            <span>Pagos</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion==1">
          <button mat-menu-item [disabled]="!flagSesion" (click)="drawer.toggle()" style="cursor: pointer"
            [routerLink]="['/editar']">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion==1">
          <button mat-menu-item [disabled]="!flagSesion" (click)="drawer.toggle()" style="cursor: pointer"
            [routerLink]="['/departamento']">
            <mat-icon>room</mat-icon>
            <span>Departamentos</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion==1">
          <button mat-menu-item [disabled]="!flagSesion" (click)="drawer.toggle()" style="cursor: pointer"
            [routerLink]="['/vehiculo']">
            <mat-icon>local_shipping</mat-icon>
            <span>Vehiculos</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion==1">
          <button mat-menu-item [disabled]="!flagSesion" (click)="drawer.toggle()" style="cursor: pointer"
            [routerLink]="['/usuario']">
            <mat-icon>person_add</mat-icon>
            <span>Conductores</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rolSesion == 2">
          <button mat-menu-item [disabled]="!flagSesion" (click)="drawer.toggle()" style="cursor: pointer"
            [routerLink]="['/ruta']">
            <mat-icon>room</mat-icon>
            <span>Rutas</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</div>