      CALCULADORA UDEC 2021 {{ title }}
<br>
<input type="number" [(ngModel)]="numero1"/> {{numero1}} <br>
<input type="number" [(ngModel)]="numero2"/> {{numero2}} <br>
<input type="button" value="Suma" (click)= "operar('s')">
<input type="button" value="Resta" (click)= "operar('r')">
<input type="button" value="Multiplicacion" (click)= "operar('m')">
<input type="button" value="Division" (click) = "operar('d')">
<br>
        El resultado es : {{resultado}}
<br>
-------Hola----------
<br>
<mat-progress-bar  [mode] = "'buffer'" [bufferValue]="30" > </mat-progress-bar >

<app-login></app-login>